# Environment & Secret variables
.env
.env.*
!.env.example
*.local
*.pem
*.key

# Dependencies
node_modules/
*/node_modules/

# Production Builds
dist/
dist-ssr/
*/dist/

# Uploads & User Media (stored locally / Cloudinary, excluded from Git to prevent file size limits)
backend/public/uploads/*
!backend/public/uploads/.gitkeep


# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and Editor metadata
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
